#bg {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#divg {
    background-color: white;
    opacity: 0.8;
}

#lst {
    color: black;
    font-size: 20px;
    font-family: 'Palatino Linotype', Arial, sans-serif,fantasy,serif,geneva,tahoma,arial;
}

#bantitle {
    font-size: 50px;
    font-family: 'Palatino Linotype', Arial, sans-serif,fantasy,serif,geneva,tahoma,arial;
}
#banlst {
    font-size: 20px;
    font-family: 'Palatino Linotype', Arial, sans-serif,fantasy,serif,geneva,tahoma,arial;
}